[Group]
region: westus

[ACS]
dnsPrefix: <FIXME: make dnsPrefix in config.ini world unique>

username: azureuser
password: Password1234

; The kind of orchestrator you want, e.g. 'Mesos', 'Swarm'
orchestratorType: Mesos

agentCount: 2
masterCount: 3

sshPublicKey: <FIXME: Enter your public SSH key into sshPublicKey in config.ini>

[Features]
; Comma separated list of required features
featureList: afs

[Storage]
name: filesstorage
type: LRS
shareName: files
mount: ~/sharedfiles

[Template]
; FOR SWARM
templateUrl: https://raw.githubusercontent.com/rgardler/azure-quickstart-templates/acs/acs-swarm-full-template/azuredeploy.json

; FOR MESOS
; templateUrl: https://raw.githubusercontent.com/rgardler/azure-quickstart-templates/acs/acs-mesos-full-template/azuredeploy.windowsjumpbox.json 