[Subscription]
tenant_id: <your_tenant_id>
app_id: <your_application_id>
app_secret: <your_app_secret>
subscription_id: <your_sub_id>

[Group]
region: westus

[ACS]
dnsPrefix: <FIXME: make dnsPrefix in config.ini world unique>

username: azureuser
password: Password1234

; The kind of orchestrator you want, e.g. 'Mesos', 'Swarm'
orchestratorType: Mesos

agentCount: 2
masterCount: 3

sshPublicKey: <FIXME: Enter your public SSH key into sshPublicKey in config.ini>

[Features]
; Comma separated list of required features
featureList: afs

[Storage]
name: filesstorage
type: LRS
shareName: files
mount: ~/sharedfiles

[OMS]
workspace_id: 
workspace_primary_key: 

[Template]
templateUrl: https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-acs-mesos/azuredeploy.json

