""" 

This is a template for a new file. Copy it into /acs/commands/foo.py
and edit as appropriate. Typically this will mean editing this
docstring and adding methods for each command described here.

Usage:
  foo <command> [help] [options]

Commands:
  doit                  make foo do it
  delegate TARGET	foo dleegates the task to TARGET

Options:
  --deadline            the date by which this needs to be completed

Help:
  For help using the oms command please open an issue at 
  https://github.com/rgardler/acs-scripts
"""

from docopt import docopt
from inspect import getmembers, ismethod
from json import dumps

from .base import Base

class Foo(Base):

  def run(self):
      args = docopt(__doc__, argv=self.options)
      # print("Global args")
      # print(args)
      self.args = args

      command = self.args["<command>"]
      result = None
      methods = getmembers(self, predicate = ismethod)
      for name, method in methods:
          if name == command:
              result = method()
      if result:
          print(result)
      else:
          print("Unknown command: '" + command + "'")
          self.help()
   	  
    def help(self):
    	print(__doc__)

    def doit(self):
    	print("I just did it")

    def delegate(self):
        print("I'll get bar to do it)"