[Group]
region: MY-RESOURCE-REGION
name: MY-RESOURCE-GROUP-NAME

[ACS]
dnsPrefix: MY-DNS-PREFIX

username: MY-USERNAME

; The kind of orchestrator you want, e.g. 'DCOS', 'Swarm'
orchestratorType: MY-ORCHESTRATOR

agentCount: MY-AGENT-COUNT
agentVMSize: MY-AGENT-SIZE
masterCount: MY-MASTER-COUNT

[SSH]
publicKey: ~/.ssh/id_rsa.pub
privatekey: ~/.ssh/id_rsa

[Features]
; Comma separated list of required features
featureList: afs

[Storage]
name: filesstorage
type: LRS
shareName: files
mount: ~/sharedfiles

[OMS]
workspace_id:
workspace_primary_key:

[Template]
templateUrl: https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-acs-dcos/azuredeploy.json

